.content-degrees-principal-children{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-degrees-principal-children .header.title-degrees{
    color: #fefefe;
    font-size: 8em;
    line-height: 1;
    position: relative;
    text-shadow: 2px 2px 3px rgba(0,0,0,.25);
    display: block;
    margin: 0;
}

.content-degrees-children{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-degrees-children .city-name{
    text-align: center;
    color: #fefefe;
    font-size: 1.25em;
}