.content-time{
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 4px;
    color: #fefefe;
    width: 100%;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}

.content-time .title{
    display: flex;
    align-items: center;
    padding: 0 !important;
}

.content-time .title .dropdown, .content-time .title .city-name, .content-time .content .title-time{
    color: #fefefe;
}

.content-time .title-time{
    width: fit-content;
    margin-left: 6px;
}

.content-time .title-time::first-letter{
    text-transform: uppercase;
}