.content-degrees-principal-children{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-degrees-principal-children .header.title-degrees{
    color: #fefefe;
    font-size: 8em;
    line-height: 1;
    position: relative;
    text-shadow: 1px 1px 3px rgba(255,255,255,.25);
    display: block;
    margin: 0;
}

.content-degrees-children{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-degrees-children .max-and-min{
    text-align: center;
    color: #fefefe;
    font-size: 1.25em;
    text-shadow: 1px 1px 2px rgba(255,255,255,.25);
    font-weight: 600;
}