.content-time{
    position: fixed;
    top: 0;
    left: 0;
    padding: 4px;
    color: #fefefe;
    width: 100%;
    font-size: 1.25rem;
}

.content-time .title-time{
    width: fit-content;
}

.content-time .title-time::first-letter{
    text-transform: uppercase;
}