body{
    font-size: 24px;
}

@media(max-width: 800px){
    body {
        font-size: 20px;
    }
}

::selection {
    background-color: rgba(0, 145, 234, .65);
    color: #fefefe;
}

::selection {
    background-color: rgba(0, 145, 234, .65);
    text-shadow: none;
}

:focus {
    outline: 5px auto #0091ea !important;
    -moz-outline: 5px auto #0091ea !important;
    -webkit-outline: 5px auto #0091ea !important;
}

::-webkit-scrollbar {
    width: 6px;
    background: #fefefe;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
}

::-webkit-scrollbar-track {
    background-color: #fefefe;
}

.main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    background-image: linear-gradient(20deg, #212121, #1b1b1b);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}