body{
    font-size: 24px;
    background-image: linear-gradient(20deg, #323232, #1b1b1b);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.left{
    text-align: left;
}

.display-none{
    display: none !important;
}

.opacity-none{
    opacity: 0 !important;
}

::selection {
    background-color: rgba(0, 145, 234, .65);
    color: #fefefe;
}

::selection {
    background-color: rgba(0, 145, 234, .65);
    text-shadow: none;
}

*:focus {
    outline: 5px auto #0091ea !important;
    -moz-outline: 5px auto #0091ea !important;
    -webkit-outline: 5px auto #0091ea !important;
}

::-webkit-scrollbar {
    width: 8px !important;
    background: #fefefe !important;
}

::-webkit-scrollbar-thumb {
    background: #0091ea !important;
    width: 8px !important;
    border-radius: 0 !important;
}

::-webkit-scrollbar-track {
    background-color: #fefefe !important;
}

@media(max-width: 800px){
    body {
        font-size: 20px;
    }

    *:focus {
        outline: 0 !important;
        -moz-outline: 0 !important;
        -webkit-outline: 0 !important;
    }
}

.main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.ui.error.message{
    margin: 0;
    box-shadow: 0 3px 5px -1px rgba(145,45,43,.2), 0 6px 10px 0 rgba(145,45,43,.14), 0 1px 18px 0 rgba(145,45,43,.12) !important;
}

.today{
    opacity: 1;
    transition: opacity .5s;
    display: block;
}

.details{
    opacity: 1;
    transition: opacity .5s;
    display: block;
    color: #fefefe;
}