.ui.item.menu.menu-climate{
    border: 0;
    border-top: 1px solid rgba(34,36,38,.1);
    border-radius: 0;
    position: fixed;
    bottom: 0;
    margin: 0;
    box-shadow: 0 -2px 2px 0 rgba(0,0,0,.10);
    background-color: #fefefe;
}

.menu-climate .reveal{
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}

.menu-climate .reveal, .menu-climate .logo{
    max-width: 50px;
    max-height: 50px;
}

@media(max-width: 800px){
    .menu-climate .reveal, .menu-climate .logo{
        max-width: 35px;
        max-height: 35px;
    }
}

.ui.item.menu.menu-climate .item{
    color: #1b1b1b;
}