.ui.dimmer.page-loader{
    color: #fefefe !important;
    background-color: #1b1b1b;
    opacity: 1;
    transition: opacity 1s;
}


.ui.dimmer .ui.loader:after{
    border-color: #fefefe transparent transparent !important;
}

.ui.massive.text.loader{
    color: #fefefe !important;
    text-shadow: 1px 1px 3px rgba(254,254,254,.25) !important;
}

.solution-footer{
    margin-top: 1.5em;
}