.week{
    margin: 1em;
}

.ui.unstackable.table{
    display: block;
    overflow: auto;
    transition: opacity .5s;
    box-shadow: 0 1px 2px 0 rgba(254,254,254,.2), 0 2px 4px 0 rgba(254,254,254,.14), 0 0 2px 0 rgba(254,254,254,.12) !important;
}

.ui.unstackable.table thead, .ui.unstackable.table tbody{
    font-size: .9em;
}

.ui.table thead th{
    border-top: 1px solid rgba(34,36,38,.1);
}

.ui.unstackable.table tr th, .ui.unstackable.table tr td{
    padding: .5em 1em;
    vertical-align: middle;
}

@media(max-width: 1000px){
    .ui.unstackable.table thead, .ui.unstackable.table tbody{
        font-size: .8em;
    }

    .ui.unstackable.table tr th, .ui.unstackable.table tr td{
        padding: .25em .5em;
    }
}