.week{
    margin: 1em;
}

.ui.unstackable.table{
    display: block;
    overflow: auto;
    transition: opacity .5s;
}

.ui.unstackable.table thead, .ui.unstackable.table tbody{
    font-size: .9em;
}

.ui.unstackable.table tr th, .ui.unstackable.table tr td{
    padding: .5em 1em;
    vertical-align: middle;
}

@media(max-width: 1000px){
    .ui.unstackable.table thead, .ui.unstackable.table tbody{
        font-size: .8em;
    }

    .ui.unstackable.table tr th, .ui.unstackable.table tr td{
        padding: .25em .5em;
    }
}