.week{
    margin: 1em;
}

.ui.unstackable.table{
    display: block;
    transition: opacity .5s;
}

.ui.unstackable.table thead, .ui.unstackable.table tbody{
    font-size: .85em;
}

.ui.unstackable.table tr th, .ui.unstackable.table tr td{
    padding: .5em 1em;
    vertical-align: middle;
}

@media(max-width: 1200px){
    .ui.unstackable.table thead, .ui.unstackable.table tbody{
        font-size: .8em;
    }

    .ui.unstackable.table tr th, .ui.unstackable.table tr td{
        padding: .35em .75em;
    }
}


@media(max-width: 1000px){
    .ui.unstackable.table thead, .ui.unstackable.table tbody{
        font-size: .75em;
    }

    .ui.unstackable.table tr th, .ui.unstackable.table tr td{
        padding: .25em .5em;
    }
}

@media(max-width: 600px){
    .ui.unstackable.table{
        overflow: auto;
        max-height: 400px;
        display: block;
    }
}